html {
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: hsl(217, 54%, 11%);
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  max-width: 380px;
  padding-top: 1.188rem;
  padding-left: 1.188rem;
  padding-right: 1.188rem;
  border-radius: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 17px 32px,
    rgba(0, 0, 0, 0.22) 0px 20px 20px;
}

.top {
  position: relative;
  width: 100%;
}

.top-image {
  display: inline-block;
  position: relative;
}
.cyan-bg {
  background-color: hsl(178, 100%, 50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: opacity 0.5s;
  border-radius: 10px;
}

.icon-view {
  position: absolute;
  max-width: 20%;
  transition: 0.5s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.top:hover .icon-view {
  opacity: 1;
}

.top:hover .cyan-bg {
  opacity: 0.5;
}

.equilibrium-image {
  max-width: 100%;
  border-radius: 10px;
}

.bottom {
  max-width: 90%;
  margin: auto;
  text-align: left;
}

h1 {
  color: white;
  font-size: 1.4rem;
}

h1:hover,
h1:active {
  color: hsl(178, 100%, 50%);
}

.description {
  font-size: 1.2rem;
  color: hsl(215, 51%, 70%);
}

.add-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.value {
  color: hsl(178, 100%, 50%);
  font-size: 1rem;
  margin-left: 0.25rem;
}
.deadline {
  color: hsl(215, 51%, 70%);
  font-size: 1rem;
  margin-left: 0.25rem;
}

.creator {
  padding-bottom: 4rem;
  color: hsl(215, 51%, 70%);
  position: relative;
}

.name {
  color: white;
}

.name:hover,
.name:active {
  color: hsl(178, 100%, 50%);
}

.avatar {
  position: absolute;
  max-width: 2rem;
  padding-top: 0.6rem;
}

.creator p {
  position: absolute;
  padding-left: 3rem;
}

hr {
  height: 1px;
  border: 0;
  color: hsl(215, 32%, 27%);
  background-color: hsl(215, 32%, 27%);
}
